<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Edit Area - LADE</title>
		<meta name="description" content="Edit Area - Les amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="EditArea">
				<div class="container">	
				
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nom</th>
										<th scope="col">Description</th>
										<th scope="col">Date</th>
										<th scope="col">Auteur</th>
										<th scope="col">Logo LADE</th>								
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row"><span th:text="${area?.id}">#</span></th>
										<td><span th:text="${area?.name}">Nom</span></td>
										<td><span th:text="${area?.shortDescription}">Description</span></td>
										<td><span th:text="${#dates.format(area.releaseDate, 'dd/MM/yyyy')}">Date</span></td>
										<td><span th:text="${area?.author}">Auteur</span></td>
										<td>
											<div class="text-center">
												<form th:action="@{/admin/update-area}" th:object="${area}" method="post">
													<input class="form-check-input form-check-inline" type="checkbox" th:checked="${area?.isPromoted}" th:field="*{isPromoted}">
													<span th:text="${area?.isPromoted} ? 'Oui' : 'Non'">Description</span>
													<input type="hidden" name="id" th:value="${area?.id}">
													<input type="hidden" name="name" th:value="${area?.name}">
													<button type="submit">Update</button>
												</form>
											</div>
										</td>								
									</tr>
								</tbody>
							</table>
						</div>
					</div>				
				
				
				
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>					