<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
		crossorigin="anonymous" />
		<link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{css/style.css}"/>
		<link rel="icon" href="img/icon.png">
		<link rel="shortcut icon" href="img/favicon.ico"/>
		<base href="/">
		<title>Mon profil de Membre de l'association - LADE</title>
		<meta name="description" content="Profil Administrateur - Les amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="AdminProfile">
				<div class="container">	
				
<!-- 					Mon Profil -->
					<div class="col-md-12" th:value="${adminUser}">
						<h2>Profil Administrateur</h2>
						<span th:text="${adminUser?.pseudo}">Pseudo</span>
						<span th:text="${adminUser?.lastName}">Nom</span>
						<span th:text="${adminUser?.firstName}">Prénom</span>
						<span th:text="${adminUser?.email}">e-Mail</span>				
					</div>
					
<!-- 					Les Sites -->
					<div class="col-md-12" th:if="${fullAreaList!=null and !fullAreaList.isEmpty()}">
						<hr />
						<h3>Tous les sites</h3>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nom</th>
										<th scope="col">Description</th>
										<th scope="col">Date</th>
										<th scope="col">Auteur</th>
										<th scope="col">Logo LADE</th>								
									</tr>
								</thead>
								<tbody>
									<tr th:each="area:${fullAreaList}">
										<th scope="row"><span th:text="${area?.id}">#</span></th>
										<td><span th:text="${area?.name}">Nom</span></td>
										<td><span th:text="${area?.shortDescription}">Description</span></td>
										<td><span th:text="${#dates.format(area.releaseDate, 'dd/MM/yyyy')}">Date</span></td>
										<td><span th:text="${area?.author}">Auteur</span></td>
										<td>
											<div class="text-center">
												<input class="form-check-input form-check-inline" type="checkbox" th:checked="${area?.isPromoted}" disabled>
												<span th:text="${area?.isPromoted} ? 'Oui' : 'Non'">Description</span>
												<form th:action="@{/admin/edit-area}" method="get">
													<input type="hidden" name="id" th:value="${area?.id}">
													<button type="submit">Edit</button>
												</form>
											</div>
										</td>								
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
<!-- 					Les Topos -->
					<div class="col-md-12" th:if="${fullTopoList!=null and !fullTopoList.isEmpty()}">
						<hr />
						<h3>Tous les Topos</h3>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nom</th>
										<th scope="col">Description</th>
										<th scope="col">Date</th>
										<th scope="col">Propriétaire</th>
										<th scope="col">Disponible</th>
										<th scope="col">Supprimer</th>									
									</tr>
								</thead>
								<tbody>
									<tr th:each="topo:${fullTopoList}">
										<th scope="row"><span th:text="${topo?.id}">#</span></th>
										<td><span th:text="${topo?.name}">Nom</span></td>
										<td><span th:text="${topo?.ShortDescription}">Description</span></td>
										<td><span th:text="${#dates.format(topo?.releaseDate, 'dd/MM/yyyy')}">Date</span></td>
										<td><span th:text="${topo?.belongTo}"></span>Proprétaire</td>
										<td>
											<div class="text-center">
												<input class="form-check-input form-check-inline" type="checkbox" th:checked="${topo?.isAvailableForLoan}" disabled>
												<span th:text="${topo?.isAvailableForLoan} ? 'Oui' : 'Non'">Dispo</span>
											</div>
										</td>
										<td>
											<div class="text-center">
												<form th:action="@{/admin/delete-topo}" th:object="${topo}" method="get">
													<input type="hidden" name="id" th:value="${topo?.id}">
													<input type="hidden" name="action" th:value="delete">
													<button type="button" class="text-center" data-toggle="modal" data-target="#topoModalCenter">Delete</button>
<!-- 													<button class="text-center" type="submit">Delete</button> -->
<!-- 													Modal de confirmation -->
													<div class="modal fade" id="topoModalCenter" tabindex="-1" role="dialog" aria-labelledby="topoModalCenterTitle" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered" role="document">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="topoModalLongTitle">DELETE</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<p>Souhaitez-vous supprimer ce Topo ?</p>
																	<small class="text-muted">
																		Le topo ne seras plus visible sur le site. 
																		Il reste cependant dans un état d'archive et peut-être récupéré par l'administarteur de votre site.
																	</small>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
																	<button type="submit" class="btn btn-primary">Archiver</button>
																</div>
															</div>
														</div>
													</div>
<!-- 													End of Modal de confirmation -->
												</form>
											</div>
										</td>							
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
<!-- 					Les commentaires -->
					<div class="col-md-12" th:if="${fullCommentList!=null and !fullCommentList.isEmpty()}">
						<hr />
						<h3>Tous les commentaires</h3>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Titre</th>
										<th scope="col">Contenu</th>
										<th scope="col">Date</th>
										<th scope="col">Auteur</th>
										<th scope="col">Action</th>						
									</tr>
								</thead>
								<tbody>
									<tr th:each="comment:${fullCommentList}">
										<th scope="row"><span th:text="${comment.id}">#</span></th>
										<td><span th:text="${comment.title}">Titre</span></td>
										<td><span th:text="${comment.content}">Contenu</span></td>
										<td><span th:text="${#dates.format(comment.releaseDate, 'dd/MM/yyyy')}">Date</span></td>
										<td><span th:text="${comment.author}"></span>Auteur</td>
										<td>
											<div class="text-center">
												<form th:action="@{/admin/edit-comment}" th:object="${comment}" method="get">
													<input type="hidden" name="id" th:value="${comment?.id}">
													<button class="text-center" type="submit">Edit</button>
												</form>
												<br />
												<form th:action="@{/admin/delete-comment}" th:object="${comment}" method="get">
													<input type="hidden" name="id" th:value="${comment?.id}">
													<input type="hidden" name="action" th:value="delete">
													<button class="text-center" type="submit">Delete</button>
												</form>
											</div>
										</td>		
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
<!-- 					Les utilisateurs -->
					<div class="col-md-12" th:if="${userList!=null and !userList.isEmpty()}">
						<hr />
						<h3>Tous les utilisateurs</h3>
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Id</th>
										<th scope="col">e-Mail</th>
										<th scope="col">Pseudo</th>
										<th scope="col">Nom</th>
										<th scope="col">Prénom</th>
										<th scope="col">Date</th>
										<th scope="col">Accès</th>
							
									</tr>
								</thead>
								<tbody>
									<tr th:each="user:${userList}">
										<th scope="row"><span th:text="${user.id}">id</span></th>
										<td><span th:text="${user.email}">e-Mail</span></td>
										<td><span th:text="${user.pseudo}">Pseudo</span></td>
										<td><span th:text="${user.lastName}">Nom</span></td>
										<td><span th:text="${user.firstName}">Prénom</span></td>
										<td><span th:text="${#dates.format(user.creationDate, 'dd/MM/yyyy')}">Date</span></td>
										<td>
											<div class="text-center">
												<span th:text="${user.role}">Accès</span>
												<form th:action="@{/admin/update}" th:object="${user}" method="post">
													<input type="hidden" name="id" th:value="${user?.id}">
													<input type="hidden" name="email" th:value="${user?.email}">
													<input type="hidden" name="pseudo" th:value="${user?.pseudo}">
													<input type="hidden" name="role" th:value="${user?.role}">
													<button class="text-center" type="submit">Edit</button>
												</form>	
											</div>									
										</td>							
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
				
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>					