<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Les amis de l'escalade - LADE</title>
		<meta name="description" content="Page d'accueil des amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="Accueil">
			
				<div class="container">
					<h1>Page d'accueil</h1>
					<h2 class="text-center" th:utext="${message}"></h2>	

<!-- SLIDER START -->
				<br />
				<div id="home-carousel" class="carousel slide" data-ride="carousel">
						<ul class="carousel-indicators">
							<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#home-carousel" data-slide-to="1"></li>
							<li data-target="#home-carousel" data-slide-to="2"></li>
							<li data-target="#home-carousel" data-slide-to="3"></li>
						</ul>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img th:src="@{/img/carousel/slide1_LADE_600x200.jpg}" th:alt="'LADE'" alt="" width="600" height="200">
								<div class="carousel-caption">
									<h3>LADE</h3>
									<p>Les amis de l'escalade!</p>
								</div>
							</div>
							<div class="carousel-item">
								<img th:src="@{/img/carousel/slide2_LADE_600x200.jpg}" th:alt="'LADE'" alt="" width="600" height="200">
								<div class="carousel-caption">
									<h3>LADE</h3>
									<p>Les amis de l'escalade!</p>
								</div>
							</div>
							<div class="carousel-item">
								<img th:src="@{/img/carousel/slide3_LADE_600x200.jpg}" th:alt="'LADE'" alt="" width="600" height="200">
								<div class="carousel-caption">
									<h3>LADE</h3>
									<p>Les amis de l'escalade!</p>
								</div>
							</div>
							<div class="carousel-item">
								<img th:src="@{/img/carousel/slide4_LADE_600x200.jpg}" th:alt="'LADE'" alt="" width="600" height="200">
								<div class="carousel-caption">
									<h3>LADE</h3>
									<p>Les amis de l'escalade!</p>
								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#home-carousel" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#home-carousel" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
					<br />
				<!-- SLIDER END -->
					</div>
			</section>

		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>