<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Les amis de l'escalade - LADE</title>
		<meta name="description" content="Page d'accueil des amis de l'ecalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="Accueil">
			
				<div class="container">
					<h1>Page d'accueil LADE !</h1>
					<h2 th:utext="${message}"></h2>	

<!-- TEST : START				 -->
					<ul>
						<li sec:authorize="!isAuthenticated()"><a class="nav-link" href="/logout">Login</a></li>
						<li sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a></li>
						<li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span></li>
					</ul>
					
					<div sec:authorize="!isAuthenticated()">
						<p>Contenu pour "!isAuthenticated()"</p>
					</div>
					<div sec:authorize="isAuthenticated()">
						<p>Contenu pour "isAuthenticated()"</p>
					<div sec:authorize="hasAuthority('ADMIN')">
					<p>Contenu pour "hasAuthority('ADMIN')"</p>
					</div>
					<div sec:authorize="hasAuthority('USER')">
						<p>Contenu pour "hasAuthority('USER')"</p>
					</div>

					<p>Logged user (Username): <span sec:authentication="name">Not Found! name</span><p>
					<p>Roles (Granted Authorities): <span sec:authentication="principal.authorities">Not Found! [ROLE_USER, ROLE_ADMIN]</span></p>
						
					</div>

<!-- TEST : END				 -->

<!-- SLIDER START -->
<!-- 				<div id="home-carousel" class="carousel slide" data-ride="carousel"> -->
<!-- 						<ul class="carousel-indicators"> -->
<!-- 							<li data-target="#home-carousel" data-slide-to="0" class="active"></li> -->
<!-- 							<li data-target="#home-carousel" data-slide-to="1"></li> -->
<!-- 							<li data-target="#home-carousel" data-slide-to="2"></li> -->
<!-- 						</ul> -->
<!-- 						<div class="carousel-inner"> -->
<!-- 							<div class="carousel-item active"> -->
<!-- 								<img src="img/carousel/slide1_LADE.png" alt="LADE" width="600" height="200"> -->
<!-- 								<div class="carousel-caption"> -->
<!-- 									<h3>LADE</h3> -->
<!-- 									<p>Les amis de l'escalade!</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="carousel-item"> -->
<!-- 								<img src="img/carousel/slide2_LADE.png" alt="LADE" width="600" height="200"> -->
<!-- 								<div class="carousel-caption"> -->
<!-- 									<h3>LADE</h3> -->
<!-- 									<p>Les amis de l'escalade!</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="carousel-item"> -->
<!-- 								<img src="img/carousel/slide3_LADE.png" alt="LADE" width="600" height="200"> -->
<!-- 								<div class="carousel-caption"> -->
<!-- 									<h3>LADE</h3> -->
<!-- 									<p>Les amis de l'escalade!</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<a class="carousel-control-prev" href="#home-carousel" data-slide="prev"> -->
<!-- 							<span class="carousel-control-prev-icon"></span> -->
<!-- 						</a> -->
<!-- 						<a class="carousel-control-next" href="#home-carousel" data-slide="next"> -->
<!-- 							<span class="carousel-control-next-icon"></span> -->
<!-- 						</a> -->
<!-- 					</div> -->
				<!-- SLIDER END -->
					</div>
			</section>

		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>