<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Formulaire de création de site d'escalade - LADE</title>
		<meta name="description" content="Page de création de site des amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="AreaForm">
				<div class="container">	
				
				<form th:action="@{/create-area}" th:object="${area}" method="post" enctype="multipart/form-data">
				<p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">
							Nom
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nom du site" required>
							<p class="error-message" th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</p>
						</div>
					</div>
					<div class="form-group row">
						<label for="description" class="col-sm-2 col-form-label">
							Description
						</label>
						<div class="col-sm-10">
							<textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="Description du site" required></textarea>
							<p class="error-message" th:each="error : ${#fields.errors('description')}" th:text="${error}">Validation error</p>
						</div>
					</div>
					<div class="form-group row">
						<label for="location" class="col-sm-2 col-form-label">
							Lieu
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="location" th:field="*{location}" placeholder="Localisation du site" required>
							<p class="error-message" th:each="error : ${#fields.errors('location')}" th:text="${error}">Validation error</p>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2">Image (optionnel)</div>
						<div class="col-sm-10">
							<input type="file" name="file" class="form-control-file">
<!-- 						<div class="custom-file"> -->
<!-- 							<input type="file" name="file" class="custom-file-input" id="customFileLang" lang="fr"> -->
<!-- 							<label class="custom-file-label" for="customFileLang">Choisir une image (optionnel)</label> -->
<!-- 						</div> -->
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4 text-center">
							<button type="submit" class="btn btn-primary">Créer ce site</button>
						</div>
						<div class="col-sm-4"></div>
					</div>
				</form>				
				
				
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>