<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Les sites d'escalade - LADE</title>
		<meta name="description" content="Les sites d'escalade des amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="ClimbAreas">
				<div class="container">				
					
					<div class="col-md-12">
<!-- 					Create Area -->
					<form th:action="@{create-area}" sec:authorize="isAuthenticated()" method="get">
						<button class="btn btn-outline-default btn-lg btn-block" type="submit" >Ajouter un Site</button>
						<br />
					</form>
					<form th:action="@{create-area}" sec:authorize="!isAuthenticated()" method="get">
						<button class="btn btn-outline-default btn-lg btn-block" type="submit" disabled>Ajouter un Site</button>
						<p class="text-center"><small class="text-muted">Vous devez être connecté pour ajouter un Site</small></p>
						<br />
					</form>	
					
<!-- 					Basic Search Criteria			 -->
					<H2>Rechercher un site</H2>
					<form th:action="@{sites}" method="get">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary">Filtrer</button>
							</div>
							<input type="text" id="param1" name="param1" th:value="${param1}" class="form-control" placeholder="par nom de sites" />
							<div class="input-group-append">	
								<button class="btn btn-default btn-sm" onclick="document.getElementById('param1').value = ''">
									<span class="glyphicon glyphicon-remove">Supprimer</span>
								</button>
							</div>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary">Filtrer</button>
							</div>
							<input type="text" id="param2" name="param2" th:value="${param2}" class="form-control" placeholder="par description de sites" />
							<div class="input-group-append">								
								<button class="btn btn-default btn-sm" onclick="document.getElementById('param2').value = ''">
									<span class="glyphicon glyphicon-remove">Supprimer</span>
								</button>
							</div>
						</div>
					</form>
					
<!-- 					More Search Criteria -->
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#searchCriteria" aria-expanded="false" aria-controls="searchCriteria">
						<span class="collapsed">
							Plus de critères
						</span>
						<span class="expanded">
							Moins de critères
						</span>
					</button>
					<div class="collapse" id="searchCriteria">
						<br />							
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<button class="btn btn-outline-secondary">Filtrer</button>
							</div>
							<input type="text" id="param3" name="param3" th:value="${param2}" class="form-control" placeholder="par lieu" />
							<div class="input-group-append">								
								<button class="btn btn-default btn-sm" onclick="document.getElementById('param3').value = ''">
									<span class="glyphicon glyphicon-remove">Supprimer</span>
								</button>
							</div>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text">Cotation</label>
							</div>
							<select class="form-control">
								<option value=""> -Sélectionner une cotation- </option>
								<option th:each="climbingGrade : ${T(com.ocesclade.amisdeescalade.enumerated.ClimbingGradeEnum).values()}"
									th:value="${climbingGrade}"
									th:utext="${climbingGrade}"/>
							</select>	
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text">Nb secteurs</label>
							</div>
							<select class="form-control">
								<option value=""> -Sélectionner un Nb Secteur- </option>
								<option th:each="climbingGrade : ${T(com.ocesclade.amisdeescalade.enumerated.ClimbingGradeEnum).values()}"
									th:value="${climbingGrade}"
									th:utext="${climbingGrade}"/>
							</select>	
						</div>
					</div>

<!-- 					Sites Cards -->
					<div class="card-deck">
						<br />
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
						<div class="col mb-4" id="areaList" th:each="area:${areaList}">
							<div class="card col">
							<div class="logo" th:if="${area.isPromoted}">
								<img class="img-fluid" width="40" height="40" th:src="@{/img/officiel-LADE_150x150.png}" alt="Sélection officiel LADE">
							</div>
							<img class="card-img-top img-fluid" th:src="@{/img/area1_200x100.jpg}" alt="site d'escalade">
							<div class="card-body">
								<div class="card-header">
									<p class="card-title text-center" th:text="${area.name}">Nom</p>
								</div>
								<p class="card-text" th:text="${area.shortDescription}">Description</p>
								<p class="card-text text-right"><small class="text-muted" th:text="${#dates.format(area.releaseDate, 'dd/MM/yyyy')}">Date</small></p>
							</div>
							<div class="card-footer">
								<form th:action="@{site}" method="get">
									<input type="hidden" name="id_area" th:value="${area.id}"/>
									<button type="submit" class="btn btn-secondary btn-block">En savoir plus</button>
								</form>
							</div>
							</div>
						</div>
						</div>
					</div>
					
<!-- 					Pagination -->
					<br />
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1">&lt;&lt;</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">&gt;&gt;</a>
							</li>
						</ul>
					</nav>
				</div>
			
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>	