<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Topos - LADE</title>
		<meta name="description" content="Liste des topos des amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="Topos">
				<div class="container">
					
					<div class="col-md-12">
<!-- 						Create Topo -->
						<form th:action="@{create-topo}" sec:authorize="isAuthenticated()" method="get">
							<button class="btn btn-outline-default btn-lg btn-block" type="submit" >Ajouter un Topo</button>
							<br />
						</form>
						<form th:action="@{create-topo}" sec:authorize="!isAuthenticated()" method="get">
							<button class="btn btn-outline-default btn-lg btn-block" type="submit" disabled>Ajouter un Topo</button>
							<p class="text-center"><small class="text-muted">Vous devez être connecté pour ajouter un Topo</small></p>
							<br />
						</form>

<!-- 						Cards Topos -->
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
							<div class="col mb-4" id="topoList" th:each="topo:${topoList}" th:if="${topo.isOnline}">
								<div class="card">
									<img class="card-img-top img-fluid" th:src="@{/img/area1_200x100.jpg}" alt="...">
									<div class="card-body">
										<div class="card-header">
											<p class="card-title text-center" th:text="${topo.name}">Nom</p>
										</div>
										<p class="card-text" th:text="${topo.shortDescription}">Description</p>
										<p class="text-muted"> Localisation : <span th:text="${topo.location}">Lieu</span></p>
										<p class="card-text text-right"><small class="text-muted" th:text="${#dates.format(topo.releaseDate, 'dd/MM/yyyy')}">Date</small></p>
									</div>
									<div class="card-footer">
										<p class="card-text"><small class="text-muted" th:text="${topo.belongTo}">Pseudo</small></p>
										<button type="button" th:disabled="${!topo.isAvailableForLoan}" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#topoModalCenter" th:attr="data-target='#topoModalCenter'+${topo?.id}">
											Demande de Prêt
										</button>

<!-- 													Modal de confirmation -->										
										<div class="modal fade" th:id="topoModalCenter+${topo?.id}" tabindex="-1" role="dialog" aria-labelledby="topoModalCenterTitle" aria-hidden="true">
															<div class="modal-dialog modal-dialog-centered" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="topoModalLongTitle">Demande de prêt</h5>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																	</div>
																	<div class="modal-body">
																		<p>Souhaitez-vous envoyer un demande de prêt ?</p>
																		<small class="text-muted">
																			Votre demande seras envoyée au propriétaire du topos. 
																			Vous allez être redirigé vers le suivi de l'évolution de vos demandes en cours dans votre profil.
																		</small>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
																		<form th:action="@{topo-pret}" method="post">
																			<input type="hidden" name="idTopo" th:value="${topo?.id}">
																			<button type="submit" class="btn btn-primary">Envoyer</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>
<!-- 													End of Modal de confirmation -->
									</div>
								</div>							
							</div>
						</div>
						
<!-- 						Pagination -->
						<br />
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">&lt;&lt;</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#">&gt;&gt;</a>
								</li>
							</ul>
						</nav>
					</div>
										
			
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>