<!DOCTYPE html>
<html lang="fr"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{base}">

	<head th:insert="base :: head"></head>
	<head>
		<title>Demande de prêt de Topos - LADE</title>
		<meta name="description" content="Page de confirmation de demande de prêt de topos des amis de l'escalade"/>
	</head>
	<body>
		<th:block th:insert="base :: header">...</th:block>
		<main layout:fragment="main" role="main" th:remove="tag">
			<section id="ToposLoan">
				<div class="container">				
				
				<H2>Confirmation de demande de prêt</H2>
				
				<p>Localisation : <span th:text="${topo.location}">Lieu</span></p>
				<p>Nom : <span th:text="${topo.name}">Nom</span></p>
				
				<form th:action="@{topo-pret-confirmation}" method="post">
					<input type="hidden" name="idTopo" th:value="${topo.id}"/>
					<button type="submit" th:disabled="${!topo.isAvailableForLoan}" class="btn btn-default">Envoie Demande</button>					
				</form>
				<a th:href="@{topos}"><button type="button" class="btn btn-default pull-right">Annuler</button> </a>
				
				</div>
			</section>
		</main>
		<th:block th:insert="base :: footer">...</th:block>
		<th:block th:insert="base :: script">...</th:block>
	</body>
</html>